@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  @apply border border-solid border-zinc-200 rounded-sm px-3 py-1
}

.btn {
  @apply py-1 px-3 bg-slate-400 rounded-sm
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}


@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

th,
td {
  @apply border border-solid border-white text-center dark:border-gray-400
}